In [22]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "../hw_resources/schools_complete.csv"
student_data_to_load = "../hw_resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
complete_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [23]:
complete_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [24]:
complete_data_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [26]:
# number of schools
total_schools = complete_data_df["school_name"].nunique()

# number of total students
total_students = complete_data_df["student_name"].count()

# total budget for all schools
total_budget = complete_data_df["budget"].unique().sum()

# average math score
math_average = complete_data_df["math_score"].mean()

# average reading score
reading_average = complete_data_df["reading_score"].mean()

# percentage of students with passing math score
math = complete_data_df[(complete_data_df["math_score"] >= 70)].count()["student_name"]
math_pass = (math / total_students) * 100

# percentage of students with passing reading score
reading = complete_data_df[(complete_data_df["reading_score"] >= 70)].count()["student_name"]
reading_pass = (reading / total_students) * 100

# percentage of students with both passing and reading scores
overall = complete_data_df[(complete_data_df["math_score"] >= 70) & (complete_data_df["reading_score"] >= 70)].count()["student_name"]
overall_pass = (overall / total_students) * 100

In [28]:
# create new data frame for district summary
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools],
    "Total Students": [total_students],
     "Total Budget": [total_budget],
     "Average Math Score": [math_average],
     "Average Reading Score": [reading_average],
     "% Passing Math": [math_pass],
     "% Passing Reading": [reading_pass],
     "% Overall Passing": [overall_pass]
    }
)

In [29]:
# map summary dataframe
# Does total budget need commas?
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.6f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.6f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.6f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.6f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.6f}".format)

In [30]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",$24649428.00,78.985371,81.877840,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [31]:
complete_data_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [ ]:
# get single instance of school
each_school = complete_data_df["school_name"].unique()

# create new dataframe for school summary
school_summary_df = complete_data_df[["type","size","budget"]]
school_summary_df["School Name"] = each_school
school_summary_df["Per Student Budget"] = total_budget / total_students  # maybe declare a variable?
school_summary_df["Average Math Score"] = math_average
school_summary_df["Average Reading Score"] = reading_average
school_summary_df["% Passing Math"] = math_pass
school_summary_df["% Passing Reading"] = reading_pass
school_summary_df["% Passing Overall"] = overall_pass

In [ ]:
# rename columns
# school_summary_df = school_summary_df.rename(
#     columns={
#         "type":"School Type", "size":"Total Students", "budget":"Total School Budget"
#             })

In [ ]:
# format data

In [ ]:
school_summary_df.head()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
# top_schools_df = school_summary_df.sort_values("% Overall Passing", ascending=False)

In [ ]:
# top_schools_df

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
# bottom_schools_df = school_summary_df.sort_values("% Overall Passing")

In [ ]:
# bottom_schools_df

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type