In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "../hw_resources/schools_complete.csv"
student_data_to_load = "../hw_resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
complete_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
complete_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
complete_data_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [4]:
# number of schools
total_schools = complete_data_df["school_name"].nunique()

# number of total students
total_students = complete_data_df["student_name"].count()

# total budget for all schools
total_budget = school_data["budget"].sum()

# average math score
math_average = complete_data_df["math_score"].mean()

# average reading score
reading_average = complete_data_df["reading_score"].mean()

# percentage of students with passing math score
math = complete_data_df[(complete_data_df["math_score"] >= 70)].count()["student_name"]
math_pass = (math / total_students) * 100

# percentage of students with passing reading score
reading = complete_data_df[(complete_data_df["reading_score"] >= 70)].count()["student_name"]
reading_pass = (reading / total_students) * 100

# percentage of students with both passing and reading scores
overall = complete_data_df[(complete_data_df["math_score"] >= 70) & (complete_data_df["reading_score"] >= 70)].count()["student_name"]
overall_pass = (overall / total_students) * 100

In [5]:
# create new data frame for district summary
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools],
    "Total Students": [total_students],
     "Total Budget": [total_budget],
     "Average Math Score": [math_average],
     "Average Reading Score": [reading_average],
     "% Passing Math": [math_pass],
     "% Passing Reading": [reading_pass],
     "% Overall Passing": [overall_pass]
    }
)

In [6]:
# map summary dataframe
# Does total budget need commas?
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:.2f}".format)
# district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.6f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.6f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.6f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.6f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.6f}".format)

In [7]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",$24649428.00,78.985371,81.877840,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
school_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [35]:
school_type = school_data.set_index(["school_name"])["type"]
total_student_count = complete_data_df["school_name"].value_counts()
total_school_budget = complete_data_df.groupby(["school_name"]).mean()["budget"]
per_student_budget = total_school_budget / total_student_count
ave_math_score = complete_data_df.groupby(["school_name"]).mean()["math_score"]
ave_reading_score = complete_data_df.groupby(["school_name"]).mean()["reading_score"]
school_passing_math = complete_data_df[complete_data_df["math_score"]>= 70]
school_passing_reading = complete_data_df[complete_data_df["reading_score"]>= 70]
overall_passing = complete_data_df[(complete_data_df["math_score"]>= 70)&(complete_data_df["reading_score"]>= 70)]
percent_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / total_student_count * 100
percent_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / total_student_count * 100
percent_passing_overall = overall_passing.groupby(["school_name"]).count()["student_name"] / total_student_count * 100

In [37]:
# create dataframe
school_summary_df = pd.DataFrame(
    {"School Type":school_type, 
     "Total Students":total_student_count, 
     "Total School Budget": total_school_budget,
     "Per Student Budget": per_student_budget,
     "Average Math Score": ave_math_score, 
     "Average Reading Score": ave_reading_score,
     "% Passing Math": percent_passing_math,
     "% Passing Reading": percent_passing_reading,
     "% Overall Passing": percent_passing_overall
    }
)

In [38]:
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [ ]:
# format data

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [42]:
top_schools_df = school_summary_df.sort_values("% Overall Passing", ascending=False)

In [43]:
top_schools_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [44]:
bottom_schools_df = school_summary_df.sort_values("% Overall Passing")

In [45]:
bottom_schools_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
# needs a groupby
# create a dataframe for each grade and combine into one df for grades
# create four variable one for each grade
# grouby(["school_name"]).mean()["math_score"] for all four variables
# create new dataframe

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# needs a groupby

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# needs a groupby
# cut and bin

In [ ]:
# school_spending = complete_data_df

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# needs a groupby
# cut and bin

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# needs a groupby

In [ ]:
# groupby(["type"])

Two conclusions:
1. Charter schools out perform district schools, particularly in math scores. Charter schools tend to have fewer students so the performance could be due to a lower student to teacher ratio. However, the data does not provide us with faculty information.
2. Spending does not correlate to higher averages.